.SignUpForm .inputMask{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.SignUpForm .placeholderAlignRight::-webkit-input-placeholder { text-align: right; }
.SignUpForm .placeholderAlignRight::-moz-placeholder { text-align: right;  }
.SignUpForm .placeholderAlignRight:-ms-input-placeholder { text-align: right;  }
.SignUpForm .placeholderAlignRight:-moz-placeholder { text-align: right;  }
.SignUpForm .placeholderAlignRight::placeholder { text-align: right;  }

.SignUpForm .error{
    text-align: center;
    color:#c92a2a;
}

.Withdraw .error{
    text-align: center;
    color:#c92a2a;
}

.Withdraw .withdrawInfo{
    margin: 5.0em;
}

.Withdraw .withdrawInfo div{
    margin: 1.0em;
}

.Withdraw .withdrawCode{
    margin: 5.0em;
}