.deleteBtn{
    width: 200px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 15px ;
    color: /*!setting.color_button{*/#585858/*}*/;
    background-color: /*!setting.color_button_text{*/white/*}*/;
    border-color: /*!setting.color_button{*/#585858/*}*/;

    font-style: normal;
    letter-spacing: 0.08em;
    font-weight: 500;
    font-size: 15px;
}
.orderBtn{
    width: 200px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 15px;
    background-color: /*!setting.color_button{*/#585858/*}*/;
    color: /*!setting.color_button_text{*/white/*}*/;
  
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.08em;
    font-size: 15px;
    float: right;
}
.buttons{
    width: 90%;
    margin: 100px auto;
}
.cartHeader{
    margin: auto;
    text-align: center;
    padding: 50px;
}
.cartTable{
    width: 93%;
    margin: auto;
    text-align: center;
    min-height: 200px;
}