.Mfooter {
  width: 100%;
  height: 200px;
  background: white;
  border-top: 1px solid #c9c9c9;
  color : black;
  display: inline-block;
}

.MFooterItem1 {
  width: 454px;
  height: 160px;
  /* border: 1px solid #c9c9c9; */
  display: inline-flex;
  border-radius: 4px;
  /* box-shadow: 0px 0px 4px 4px #EAEAEA; */
  margin: 17px;
  margin-left: 221px;
  margin-bottom: 24px;
}

.MFooterItem2 {
  width: 400px;
  height: 150px;
  /* border: 1px solid #c9c9c9; */
  display: inline-flex;
  border-radius: 4px;
  /* box-shadow: 0px 0px 4px 4px #EAEAEA; */
  margin: 17px;
  margin-left: 55px;
}

.MFooterItem3 {
  width: 400px;
  height: 150px;
  /* border: 1px solid #c9c9c9; */
  display: inline-flex;
  border-radius: 4px;
  /* box-shadow: 0px 0px 4px 4px #EAEAEA; */
  margin: 17px;
  margin-left: 145px;
}

.MFooter_info {
  padding: 8px;
  height: 150px;
  display: inline-block;
  font-size: 13px;
}

.MFooter_info h4 {
  margin: 4px 0px;
  color: black;
  font-size: 20px;
}

.MFooter_info p {
  overflow: hidden;
  margin: 4px 0px;
  color: #666;
}

.MfooterLast {
    font-size: 12px;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    height: 55px;
}
.MfooterLast2 {
  margin-left: 1300px;
}

.footer {
    width: 100%;
    height: 200px;
    background: white;
    border-top: 1px solid #c9c9c9;
    color : black;
    display: inline-block;
}

.FooterItem1 {
    width: 450px;
    height: 160px;
    /* border: 1px solid #c9c9c9; */
    display: inline-flex;
    border-radius: 4px;
    /* box-shadow: 0px 0px 4px 4px #EAEAEA; */
    margin: 17px;
    margin-left: 271px;
    margin-bottom: 24px;
}

.FooterItem2 {
    width: 400px;
    height: 150px;
    /* border: 1px solid #c9c9c9; */
    display: inline-flex;
    border-radius: 4px;
    /* box-shadow: 0px 0px 4px 4px #EAEAEA; */
    margin: 17px;
    margin-left: 0;
}

.FooterItem3 {
    width: 400px;
    height: 150px;
    /* border: 1px solid #c9c9c9; */
    display: inline-flex;
    border-radius: 4px;
    /* box-shadow: 0px 0px 4px 4px #EAEAEA; */
    margin: 17px;
    margin-left: 9px;
}

.Footer_info {
    padding: 8px;
    height: 150px;
    display: inline-block;
    font-size: 13px;
  }

  .Footer_info h4 {
    margin: 4px 0px;
    color: black;
    font-size: 20px;
  }
  
  .Footer_info p {
    overflow: hidden;
    margin: 4px 0px;
    color: #666;
  }

  .footerLast {
      font-size: 12px;
      border-top: 1px solid #c9c9c9;
      border-bottom: 1px solid #c9c9c9;
      height: 55px;
      margin-left: 193px;
  }
  .footerLast2 {
    margin-left: 1100px;
}