<!DOCTYPE html>
<html>
<head>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<a href="https://kauth.kakao.com/oauth/authorize?client_id=&redirect_uri=http://localhost:1234/login&response_type=code">
            <img src="../img/kakao_account_login_btn_medium_wide.png"/>
</a>

<img src="https://storage.googleapis.com/my_test_bucket_01/crazyArcade2-2019-11-16-204821504.png" />공개데이터면 바로 보임
<img src="https://storage.cloud.google.com/my_test_bucket_01/crazyArcade2-2019-11-16-204821504.png?hl=ko" />권한가진사람이어야 보임
<img src="gs://my_test_bucket_01/crazyArcade2-2019-11-16-204821504.png" />

</body>
</html>