.input1{
    width:70px;
    height: 40px;
    text-align: center;
    color: #5c5757;
    border: 1px solid  #989898;
}
.selectBtn{
    width:60px;
    height: 40px;
    text-align: center;
 background-color:  white;
 border: 1px solid #989898;
}
.selectBtnBorder{
    padding-left: 15px;
}