
.Csearch_box {
  width: 100%;
  height: 100px;
}

.Csearch_input {
  width: 80%;
  height: 30px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  top : 0%;
}
  
.Csearch_Link {
  max-height: 20px;
  padding: 4px 12px;
  border-radius: 4px;
  position: absolute;
  margin-left: -1px;
  width: 10px;
  top : 0%;
}
  .SearchImg {
    width: 15px;
    height: 15px;
  }
