
.Csearch_box {
  width: 200px;
  height: 100px;
  margin-top: 5px;
}

.Csearch_input {
  width: 200px;
  height: 40px;
  border-radius: 3px;
  padding: 4px;
  margin-top: 15px;
}
  
.Csearch_Link {
  height: 41px;
  background: #fff;
  padding: 4px 12px;
  border-radius: 4px;
  position: absolute;
  margin-top: 14px;
  width: 43px;
}
  .SearchImg {
    width: 15px;
    height: 15px;
    margin-top: 8px;
  }