.Nav {
  height: 100vh;
  width: 15%;
  border-right: 1px solid #c9c9c9;
  padding: 10px;
  float: left;
}
.Nav_Title{
  border-bottom: 1px solid #c9c9c9;
}

.Nav_Info{
  border-bottom: 1px solid #c9c9c9;
}


.Nav_Info_List{
  color:black;
}

.Nav_Info_List:hover {
  color:black;
}