.Nav {
  height: 100vh;
  width: 180px;
  display: inline-block;
  border-right: 1px solid #c9c9c9;
  padding: 8px;
  margin-left: 35px;
  float: left;
}
.Nav_Title{
  border-bottom: 1px solid #c9c9c9;
}

.Nav_Info{
  border-bottom: 1px solid #c9c9c9;
}


.Nav_Info_List:hover {
  background: #C9C9C9;
}