.Banner {
    width:100%;
    height: 700px;
    display: inline-block;
}
.GestureGallery {
    width : 100% !important;
    height: 700px !important;
}
.GalleryImage {
    width: 100% !important;
    height: 700px !important;
}

.GalleryImage img{
    object-fit: fill !important;
    width: 100% !important;
    height: 100% !important;
}

.Gesture-view {
    width : 100% !important;
    height: 100% !important;
}