.filepicker {
    font-family: sans-serif;
}

div.filepicker {
    text-align: center;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    border: 2px dashed #C7C7C7;
}

.filepicker-file-icon
{
    position: relative;

    display: inline-block;

    margin: 1.5em 0 2.5em 0;
    padding-left: 45px;

    color: black;
}
.filepicker-file-icon::before
{
    position: absolute;
    top: -7px;
    left: 0;

    width: 29px;
    height: 34px;

    content: '';

    border: solid 2px #7F7F7F;
    border-radius: 2px;
}
.filepicker-file-icon::after
{
    font-size: 11px;
    line-height: 1.3;

    position: absolute;
    top: 9px;
    left: -4px;

    padding: 0 2px;

    content: 'file';
    content: attr(data-filetype);
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    background-color: #000;
}
.filepicker-file-icon .fileCorner
{
    position: absolute;
    top: -7px;
    left: 22px;

    width: 0;
    height: 0;

    border-width: 11px 0 0 11px;
    border-style: solid;
    border-color: white transparent transparent #920035;
}

.productImageForm .dropzone{
    min-height: 150px;
    display:block;
    padding: 54px 54px;
}


.productImageForm .dropzone .dz-remove{
    position: absolute;
    top:10px;
    right:10px;
    background-color: white;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    border-radius: 20%;
    font-weight: bold;
    box-shadow: 0px 0px 5px gray;
}

.productImageForm .dropzone .dz-image:hover img{
    opacity: 0.5;
}

.productImageForm .dropzone .dz-image:hover .dz-remove{
    box-shadow: 0px 0px 5px black;
}

.productImageForm .dropzone .dz-preview{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
}

.productImageForm .dropzone .dz-preview .dz-image{
    border-radius: 20px;
    width: 120px;
    height: 120px;
    position: relative;
    display: block;
    z-index: 10;
}

.productImageForm .dropzone .dz-error-message{
    max-width: 120px;
    color:red;
}

.productImageForm .dropzone .dz-preview .dz-image img{
    border-radius: 20px;
    width: 120px;
    height: 120px;
}

.productImageForm .dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 20px;
    background: #999;
    background: linear-gradient(to bottom, #eee, #ddd);
}

.productImageForm .filepicker .dz-message{
    position: relative;
    display: block;
    margin: 3.0em 0 2.5em 0;

}

.productImageForm .dropzone.dz-started .dz-message {
    display: none;
}
