.ProductUpdate .error{
    text-align: center;
    color:#c92a2a;
}

.ProductUpdate .loading{
    /* visibility: hidden; */
    display: none;
    text-align: center;
    background-color: white;
}

.ProductUpdate .loading img{
    width: 50px;
    height: 50px;
}

.ProductUpdate .ProductForm{
    width: 65%;
    margin: 40px auto;
}

.ProductUpdate .productImageForm .dropzone{
    display:inline-block;
    width: 90%;
}

.ProductUpdate .SelectPreview > div{
    display: inline-block;
    min-width: 50px;
    padding: 0px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 1.0em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.27);
    text-align: center;
    cursor: pointer;
}

.ProductUpdate .SelectPreview > div:hover{
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}