table{
    width : 100%;
    text-align: center;
    border-spacing: 2px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 2px;
}

.n-table td {
    max-height: 135px !important;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #E4E4E4;
    text-align: center;
    vertical-align: middle;
}

.n-table tbody :hover{
    background-color: #F6F6F6;
    opacity: 1;
}

.infoDiv {
    display: table;
    min-height: 96px;
    font-family: 'Gulim','Apple SD Gothic',Auto,sans-serif;
    line-height: 1.5;
    font-size: 14px;
    text-align: left;
    position: relative;
    margin-right : 10px;
}

.infoDiv ul{
    padding-left : 0px;
    width: 400px;
}

.infoDiv img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}


.infoDiv a {
    font-weight: 300;
    display: block;
}

.nameColor{
    list-style: none;
    position: relative;
    left : 120px;
}

.n-table th{
    border-bottom: 1px solid black;
}
.info1{
    margin-right: 20px;
}
.my-collapsible__toggle{
    position : relative !important;
    display: inline;
    left : 0;
    height: 30px;
}