$color: black;

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.wrapper {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

.wrapper > select{
  width: 80px;
  height: 40px;
  font-size: 20px;
}

.storesInfotitle  {
  font-size: 40px;
  border-bottom: 1px solid #c9c9c9;
}