
.RefundRequest{
    width: 85%;
    display: inline-block;
    min-height: 1000px;
    position: relative;
    left: 15%;
    margin-top: 14%;
}

.RefundRequest table{
    text-align: center;
}

.RefundRequest tr td{
    vertical-align: middle;
}

.RefundRequest .tableTitle{
    font-size: 15pt;
    margin: 15px 30px;
}

.RefundRequest .request{
    width: 50%;
    margin: auto;
}

.RefundRequest .error{
    text-align: center;
    color:#c92a2a;
}

.RefundRequest .PayInfo{
    margin-bottom: 50px;
}

.RefundRequest .orderProductName{
    
    max-width:90%;
    padding: 0px 20px; 
    word-break: break-all;
    font-size:14pt;
    height:100px; 
    line-height:100px; 
}

.RefundRequest .orderProduct{
    text-align: left;
    padding-left: 20px;
}