.page-item{
    cursor: pointer;
}

.UserList{
    width: 65%;
    margin: 100px auto;
    text-align: center;
}

.UserList .table{
    margin-bottom: 50px;
}

.UserList .pagination{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}
